In [1]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import nn_utils
import pandas as pd

In [2]:
from os import listdir
import datetime

In [3]:
!ls ../data/projekt4/train

humidity_train.csv  temperature_train.csv	   wind_direction_train.csv
pressure_train.csv  weather_description_train.csv  wind_speed_train.csv

In [4]:
train_dir = "../data/projekt4/train"
test_dir = "../data/projekt4/test"

In [5]:
df_city = pd.read_csv("../data/projekt4/city_attributes.csv", sep=';')

In [6]:
df_city

                 City        Country   Latitude   Longitude
0           Vancouver         Canada  49.249660 -123.119339
1            Portland  United States  45.523449 -122.676208
2       San Francisco  United States  37.774929 -122.419418
3             Seattle  United States  47.606209 -122.332069
4         Los Angeles  United States  34.052231 -118.243683
5           San Diego  United States  32.715328 -117.157257
6           Las Vegas  United States  36.174969 -115.137222
7             Phoenix  United States  33.448380 -112.074043
8         Albuquerque  United States  35.084492 -106.651138
9              Denver  United States  39.739151 -104.984703
10        San Antonio  United States  29.424120  -98.493629
11             Dallas  United States  32.783058  -96.806671
12            Houston  United States  29.763281  -95.363274
13        Kansas City  United States  39.099731  -94.578568
14        Minneapolis  United States  44.979969  -93.263840
15        Saint Louis  United States  38.627270  -90.197891
16            Chicago  United States  41.850029  -87.650047
17          Nashville  United States  36.165890  -86.784439
18       Indianapolis  United States  39.768379  -86.158043
19            Atlanta  United States  33.749001  -84.387978
20            Detroit  United States  42.331429  -83.045753
21       Jacksonville  United States  30.332180  -81.655647
22          Charlotte  United States  35.227089  -80.843132
23              Miami  United States  25.774269  -80.193657
24         Pittsburgh  United States  40.440620  -79.995888
25            Toronto         Canada  43.700111  -79.416298
26       Philadelphia  United States  39.952339  -75.163788
27           New York  United States  40.714272  -74.005966
28           Montreal         Canada  45.508839  -73.587807
29             Boston  United States  42.358429  -71.059769
30          Beersheba         Israel  31.251810   34.791302
31  Tel Aviv District         Israel  32.083328   34.799999
32              Eilat         Israel  29.558050   34.948212
33              Haifa         Israel  32.815559   34.989170
34          Nahariyya         Israel  33.005859   35.094090
35          Jerusalem         Israel  31.769039   35.216331

In [7]:
df_humidity = pd.read_csv("../data/projekt4/train/humidity_train.csv", sep=';')

In [8]:
df_dict = {}
for file in listdir(train_dir):
    name = file.split("_train")[0]
    print(name)
    df_dict[name] = pd.read_csv(train_dir+"/"+file, sep=';', parse_dates=['datetime'])

temperature
wind_speed
pressure
wind_direction
weather_description
humidity

In [9]:
df_by_city = dict()
for city in df_city['City']:
    df_by_city[city] = pd.DataFrame()
    #Datetime is the same across all tables nothing lacking or omited
    df_by_city[city]['datetime'] = df_dict['pressure']['datetime']
    for key in df_dict.keys():
        df_by_city[city][key] = df_dict[key][city]

In [10]:
pd.set_option('display.max_rows', 50)

In [11]:
df_portland = df_by_city['Portland']

In [12]:
def get_date_info(df, col_name = 'datetime'):
    df['date'] = df_portland['datetime'].apply(lambda x: x.date())
    #this is usefull since it carries quite a bit of info
    df['day'] = df_portland['datetime'].apply(lambda x: x.day_of_year)
    df['year'] = df_portland['datetime'].apply(lambda x: x.year)
    #df['hour'] = df_portland['datetime'].apply(lambda x: x.hour)

    return df

In [13]:
df_portland = get_date_info(df_portland)

In [14]:
transform = df_portland.columns.drop(['datetime','date', 'weather_description'])
agg_df = df_portland.groupby('date')[transform].mean()
agg_df = agg_df.reset_index()

In [15]:
date = datetime.date(2003,8,1)
for i in range(5): 
    date += datetime.timedelta(days=1)
    print(date)

2003-08-02
2003-08-03
2003-08-04
2003-08-05
2003-08-06

In [177]:
#ok so we need to do some data trickery in here to have it to work. 
agg_df.sort_values('date')

,date,temperature,wind_speed,pressure,wind_direction,humidity,day,year
0,2012-01-10,282.118197,0.000000,1024.000000,57.727273,78.727273,10.0,2012.0
1,2012-01-11,286.934167,3.166667,1007.041667,119.166667,92.909091,11.0,2012.0
2,2012-01-12,282.205417,5.625000,999.291667,130.416667,82.750000,12.0,2012.0
3,2012-02-10,286.137728,1.291667,1023.583333,214.041667,65.833333,41.0,2012.0
4,2012-02-11,285.686250,3.666667,1008.708333,153.333333,83.947368,42.0,2012.0
...,...,...,...,...,...,...,...,...
1517,2016-12-07,291.421762,2.333333,1016.166667,244.916667,61.083333,342.0,2016.0
1518,2016-12-08,297.536250,0.500000,1014.500000,250.291667,60.041667,343.0,2016.0
1519,2016-12-09,289.096667,2.708333,1019.708333,239.333333,60.250000,344.0,2016.0
1520,2016-12-10,281.114250,1.333333,996.541667,77.750000,67.250000,345.0,2016.0
1521,2016-12-11,287.442083,3.750000,1014.166667,159.083333,83.916667,346.0,2016.0

In [113]:
df_x = pd.DataFrame()
df_y = pd.DataFrame()
df = agg_df
for record in df.iterrows():
    x_row = record[1]
    y_date = x_row.date
    next_date = x_row.date
    add_record = True
    for i in range(1,3):
        next_date += datetime.timedelta(days=1)
        try:
            next_day = df[df['date'] == next_date].iloc[0]
            next_day.index = [k+f"_{i}" for k in next_day.index]
            x_row = pd.concat([x_row, next_day])
        except IndexError:
            add_record = False
            break
    next_date += datetime.timedelta(days=1)
    try:
        y_date += datetime.timedelta(days=4)
        y_row = df[df['date'] == y_date].iloc[0]
    except IndexError:
        add_record = False
        continue
    if add_record:
        df_x = df_x.append(x_row, ignore_index=True)
        df_y = df_y.append(y_row, ignore_index=True)

In [114]:
df_x

,date,temperature,wind_speed,pressure,wind_direction,humidity,day,year,date_1,temperature_1,...,day_1,year_1,date_2,temperature_2,wind_speed_2,pressure_2,wind_direction_2,humidity_2,day_2,year_2
0,2012-10-10,284.363958,0.708333,1017.416667,176.041667,62.600000,284.0,2012.0,2012-10-11,277.946250,...,285.0,2012.0,2012-10-12,278.335417,1.833333,1028.458333,103.333333,90.291667,286.0,2012.0
1,2012-10-11,277.946250,0.708333,1011.083333,157.916667,84.333333,285.0,2012.0,2012-10-12,278.335417,...,286.0,2012.0,2012-10-13,284.839583,1.666667,1013.416667,156.125000,77.521739,287.0,2012.0
2,2012-10-12,278.335417,1.833333,1028.458333,103.333333,90.291667,286.0,2012.0,2012-10-13,284.839583,...,287.0,2012.0,2012-10-14,286.330833,3.000000,1020.625000,177.083333,88.416667,288.0,2012.0
3,2012-10-13,284.839583,1.666667,1013.416667,156.125000,77.521739,287.0,2012.0,2012-10-14,286.330833,...,288.0,2012.0,2012-10-15,287.928333,2.625000,1020.291667,144.166667,86.150000,289.0,2012.0
4,2012-10-14,286.330833,3.000000,1020.625000,177.083333,88.416667,288.0,2012.0,2012-10-15,287.928333,...,289.0,2012.0,2012-10-16,288.754583,3.125000,1014.000000,163.333333,86.041667,290.0,2012.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,2016-12-03,281.283024,4.166667,1004.416667,168.791667,86.375000,338.0,2016.0,2016-12-04,285.519475,...,339.0,2016.0,2016-12-05,291.789167,1.583333,1015.208333,258.916667,39.375000,340.0,2016.0
1446,2016-12-04,285.519475,2.916667,1021.041667,188.041667,61.500000,339.0,2016.0,2016-12-05,291.789167,...,340.0,2016.0,2016-12-06,287.869583,0.625000,1023.000000,271.708333,77.000000,341.0,2016.0
1447,2016-12-05,291.789167,1.583333,1015.208333,258.916667,39.375000,340.0,2016.0,2016-12-06,287.869583,...,341.0,2016.0,2016-12-07,291.421762,2.333333,1016.166667,244.916667,61.083333,342.0,2016.0
1448,2016-12-06,287.869583,0.625000,1023.000000,271.708333,77.000000,341.0,2016.0,2016-12-07,291.421762,...,342.0,2016.0,2016-12-08,297.536250,0.500000,1014.500000,250.291667,60.041667,343.0,2016.0
1449,2016-12-07,291.421762,2.333333,1016.166667,244.916667,61.083333,342.0,2016.0,2016-12-08,297.536250,...,343.0,2016.0,2016-12-09,289.096667,2.708333,1019.708333,239.333333,60.250000,344.0,2016.0

In [115]:
df_x = df_x.drop(columns=[x for x in df_x.columns if 'date' in x])

In [116]:
df_x

,temperature,wind_speed,pressure,wind_direction,humidity,day,year,temperature_1,wind_speed_1,pressure_1,...,humidity_1,day_1,year_1,temperature_2,wind_speed_2,pressure_2,wind_direction_2,humidity_2,day_2,year_2
0,284.363958,0.708333,1017.416667,176.041667,62.600000,284.0,2012.0,277.946250,0.708333,1011.083333,...,84.333333,285.0,2012.0,278.335417,1.833333,1028.458333,103.333333,90.291667,286.0,2012.0
1,277.946250,0.708333,1011.083333,157.916667,84.333333,285.0,2012.0,278.335417,1.833333,1028.458333,...,90.291667,286.0,2012.0,284.839583,1.666667,1013.416667,156.125000,77.521739,287.0,2012.0
2,278.335417,1.833333,1028.458333,103.333333,90.291667,286.0,2012.0,284.839583,1.666667,1013.416667,...,77.521739,287.0,2012.0,286.330833,3.000000,1020.625000,177.083333,88.416667,288.0,2012.0
3,284.839583,1.666667,1013.416667,156.125000,77.521739,287.0,2012.0,286.330833,3.000000,1020.625000,...,88.416667,288.0,2012.0,287.928333,2.625000,1020.291667,144.166667,86.150000,289.0,2012.0
4,286.330833,3.000000,1020.625000,177.083333,88.416667,288.0,2012.0,287.928333,2.625000,1020.291667,...,86.150000,289.0,2012.0,288.754583,3.125000,1014.000000,163.333333,86.041667,290.0,2012.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,281.283024,4.166667,1004.416667,168.791667,86.375000,338.0,2016.0,285.519475,2.916667,1021.041667,...,61.500000,339.0,2016.0,291.789167,1.583333,1015.208333,258.916667,39.375000,340.0,2016.0
1446,285.519475,2.916667,1021.041667,188.041667,61.500000,339.0,2016.0,291.789167,1.583333,1015.208333,...,39.375000,340.0,2016.0,287.869583,0.625000,1023.000000,271.708333,77.000000,341.0,2016.0
1447,291.789167,1.583333,1015.208333,258.916667,39.375000,340.0,2016.0,287.869583,0.625000,1023.000000,...,77.000000,341.0,2016.0,291.421762,2.333333,1016.166667,244.916667,61.083333,342.0,2016.0
1448,287.869583,0.625000,1023.000000,271.708333,77.000000,341.0,2016.0,291.421762,2.333333,1016.166667,...,61.083333,342.0,2016.0,297.536250,0.500000,1014.500000,250.291667,60.041667,343.0,2016.0
1449,291.421762,2.333333,1016.166667,244.916667,61.083333,342.0,2016.0,297.536250,0.500000,1014.500000,...,60.041667,343.0,2016.0,289.096667,2.708333,1019.708333,239.333333,60.250000,344.0,2016.0

In [117]:
df_y = df_y['temperature']

In [129]:
from sklearn.preprocessing import MaxAbsScaler, MinMaxScaler
scaler = MaxAbsScaler()
scaler.fit(df_x)
scaled = scaler.transform(df_x)
scaled_df = pd.DataFrame(scaled, columns=df_x.columns)

In [130]:
train_x = tf.convert_to_tensor(scaled_df[:1200], dtype=tf.float32)
train_y = tf.convert_to_tensor(df_y[:1200], dtype=tf.float32)
test_x = tf.convert_to_tensor(scaled_df[1200:], dtype=tf.float32)
test_y = tf.convert_to_tensor(df_y[1200:], dtype=tf.float32)

In [131]:
from neural_network import *

In [181]:
#Add random seet to network so it can be repeatable
net = NeuralNetworkNew([21,128,32,16,1], net_type='regression')
batch_size = 512
epochs = 100
steps_per_epoch = int(np.ceil(train_x.shape[0]/ batch_size))
lr = 1e-5

In [182]:
net.train(
    train_x, train_y,
    test_x, test_y,
    epochs, steps_per_epoch, 
    batch_size, lr
    
)

Epoch 0....val metric: 62601.652
Epoch 1....val metric: 24763.738
Epoch 2....val metric: 154.59236
Epoch 3....val metric: 43.303234
Epoch 4....val metric: 43.25088
Epoch 5....val metric: 43.214485
Epoch 6....val metric: 43.17837
Epoch 7....val metric: 43.142544
Epoch 8....val metric: 43.107136
Epoch 9....val metric: 43.07203
Epoch 10....val metric: 43.037506
Epoch 11....val metric: 43.003048
Epoch 12....val metric: 42.96867
Epoch 13....val metric: 42.935078
Epoch 14....val metric: 42.90181
Epoch 15....val metric: 42.86879
Epoch 16....val metric: 42.836143
Epoch 17....val metric: 42.80375
Epoch 18....val metric: 42.77168
Epoch 19....val metric: 42.7401
Epoch 20....val metric: 42.708767
Epoch 21....val metric: 42.677677
Epoch 22....val metric: 42.64682
Epoch 23....val metric: 42.61642
Epoch 24....val metric: 42.58628
Epoch 25....val metric: 42.556408
Epoch 26....val metric: 42.526745
Epoch 27....val metric: 42.497192
Epoch 28....val metric: 42.468296
Epoch 29....val metric: 42.439255
Epoch 30....val metric: 42.410713
Epoch 31....val metric: 42.38233
Epoch 32....val metric: 42.354214
Epoch 33....val metric: 42.32669
Epoch 34....val metric: 42.299053
Epoch 35....val metric: 42.271835
Epoch 36....val metric: 42.24495
Epoch 37....val metric: 42.21822
Epoch 38....val metric: 42.191536
Epoch 39....val metric: 42.165096
Epoch 40....val metric: 42.13898
Epoch 41....val metric: 42.112934
Epoch 42....val metric: 42.08744
Epoch 43....val metric: 42.061485
Epoch 44....val metric: 42.03638
Epoch 45....val metric: 42.01099
Epoch 46....val metric: 41.9862
Epoch 47....val metric: 41.96133
Epoch 48....val metric: 41.93692
Epoch 49....val metric: 41.913033
Epoch 50....val metric: 41.889267
Epoch 51....val metric: 41.865604
Epoch 52....val metric: 41.842243
Epoch 53....val metric: 41.81889
Epoch 54....val metric: 41.7958
Epoch 55....val metric: 41.772568
Epoch 56....val metric: 41.749737
Epoch 57....val metric: 41.726852
Epoch 58....val metric: 41.704193
Epoch 59....val metric: 41.681698
Epoch 60....val metric: 41.659023
Epoch 61....val metric: 41.63656
Epoch 62....val metric: 41.614258
Epoch 63....val metric: 41.592068
Epoch 64....val metric: 41.570057
Epoch 65....val metric: 41.548267
Epoch 66....val metric: 41.52622
Epoch 67....val metric: 41.504337
Epoch 68....val metric: 41.48207
Epoch 69....val metric: 41.460125
Epoch 70....val metric: 41.438297
Epoch 71....val metric: 41.416664
Epoch 72....val metric: 41.3951
Epoch 73....val metric: 41.373756
Epoch 74....val metric: 41.35243
Epoch 75....val metric: 41.33138
Epoch 76....val metric: 41.310307
Epoch 77....val metric: 41.289543
Epoch 78....val metric: 41.26885
Epoch 79....val metric: 41.24817
Epoch 80....val metric: 41.227356
Epoch 81....val metric: 41.207287
Epoch 82....val metric: 41.18705
Epoch 83....val metric: 41.16678
Epoch 84....val metric: 41.14661
Epoch 85....val metric: 41.126553
Epoch 86....val metric: 41.106754
Epoch 87....val metric: 41.087086
Epoch 88....val metric: 41.0676
Epoch 89....val metric: 41.04808
Epoch 90....val metric: 41.02892
Epoch 91....val metric: 41.00973
Epoch 92....val metric: 40.990604
Epoch 93....val metric: 40.971622
Epoch 94....val metric: 40.952812
Epoch 95....val metric: 40.934433
Epoch 96....val metric: 40.916233
Epoch 97....val metric: 40.897884
Epoch 98....val metric: 40.879635
Epoch 99....val metric: 40.86163

{'val_loss': 35.130474,
 'train_loss': 146.69903945922852,
 'val_metrics': [],
 'val_metric': 40.86163}

In [128]:
for i in zip(net.predict(test_x), test_y):
    print(i[0].numpy(),i[1].numpy())

[275.86642] 270.90433
[288.4086] 279.468
[274.97757] 284.01782
[271.154] 286.11905
[271.9478] 291.28915
[290.5309] 291.8871
[280.1144] 291.87958
[290.0162] 291.2725
[295.39102] 287.57874
[288.0839] 283.69458
[289.80106] 286.12543
[285.83603] 280.33163
[277.65903] 280.46902
[281.1681] 284.56302
[287.06674] 285.293
[278.22614] 285.56366
[290.32318] 283.2313
[290.28226] 281.43307
[276.68423] 282.3787
[274.53564] 282.40234
[282.50296] 281.456
[286.23642] 281.20068
[286.00473] 282.90616
[285.1426] 279.92914
[281.67862] 281.29794
[274.834] 284.50784
[271.6107] 286.65552
[283.52835] 272.65677
[290.23035] 281.41446
[268.68716] 282.8718
[269.43973] 285.6688
[266.11057] 287.20792
[294.88934] 298.48416
[273.86972] 289.5446
[285.59445] 295.05542
[295.38837] 287.65207
[291.5733] 285.03833
[291.3359] 284.5275
[287.174] 283.257
[286.70493] 288.7041
[284.1525] 293.45206
[292.38596] 293.1467
[295.34073] 291.83005
[295.25064] 290.16125
[284.95523] 286.7865
[275.34116] 285.68887
[277.22327] 284.4201
[278.14087] 281.71652
[277.19345] 281.77563
[278.69562] 283.99997
[280.6424] 284.19992
[282.12112] 285.12292
[284.7106] 284.3475
[271.41623] 274.12607
[278.47476] 280.77725
[272.0442] 285.0567
[281.34943] 283.27234
[253.74028] 287.54208
[300.2666] 300.0804
[263.00632] 289.2304
[293.9518] 294.90457
[294.38687] 288.24957
[284.46475] 284.3123
[288.9689] 286.52667
[281.59412] 291.69415
[280.06604] 287.95126
[280.8857] 289.88916
[284.9999] 285.29208
[289.01706] 284.31668
[277.83087] 285.7925
[281.6256] 285.59958
[282.82013] 286.65332
[275.34933] 288.29138
[280.02112] 287.93762
[281.004] 286.79202
[282.54916] 285.64838
[280.52673] 286.05164
[281.1711] 288.89468
[289.9403] 287.79144
[284.9289] 292.08295
[281.91052] 274.6223
[292.48642] 281.0679
[281.7603] 284.01495
[280.85953] 283.87625
[247.02992] 290.24875
[299.5133] 297.64624
[274.31314] 290.80832
[286.0393] 290.28583
[293.661] 288.95834
[287.44934] 284.0171
[286.53082] 285.76874
[273.50784] 287.6325
[276.07828] 286.81915
[272.80173] 287.35333
[273.6663] 287.38666
[276.76474] 292.32584
[283.49908] 289.96667
[288.82214] 290.50708
[290.80298] 288.84958
[279.54858] 287.34543
[284.1901] 289.41583
[282.87106] 293.89542
[284.28766] 296.40417
[288.57138] 292.42374
[294.43906] 291.13333
[296.1018] 290.85803
[293.423] 276.59222
[295.66397] 281.90457
[284.10605] 281.32788
[289.69662] 289.7483
[255.65266] 293.7579
[291.73767] 295.7071
[288.54916] 292.0779
[289.81732] 290.40125
[288.2106] 290.1075
[284.48065] 284.8086
[284.14545] 286.59875
[284.6659] 291.877
[283.44922] 291.73035
[267.5858] 291.02725
[265.3141] 295.188
[262.65387] 295.23962
[265.51242] 293.46225
[269.00406] 291.7621
[275.9078] 291.19415
[277.20505] 292.23376
[289.15024] 295.30957
[290.33768] 294.0146
[295.1876] 293.60458
[296.10925] 296.24667
[295.8608] 298.21375
[295.39835] 294.2396
[295.8608] 291.06042
[297.2046] 275.8299
[290.24643] 282.17374
[279.65256] 278.91946
[290.34622] 292.599
[264.5282] 288.6525
[282.15338] 293.17874
[289.44266] 290.3525
[283.58142] 289.365
[290.26028] 291.1771
[280.0768] 287.6996
[285.18036] 285.3229
[287.3887] 298.9879
[282.0767] 293.3304
[278.89273] 295.82208
[280.90573] 301.03
[281.11984] 299.80292
[288.31497] 294.96542
[302.931] 289.85126
[298.3855] 290.905
[274.83603] 294.99698
[288.13217] 297.75958
[294.47556] 298.4125
[299.63974] 296.1929
[298.71445] 291.80084
[292.95813] 293.25208
[280.87457] 290.84293
[287.83047] 290.09543
[289.0162] 276.06976
[285.18082] 282.3847
[277.3486] 280.5736
[281.7009] 287.84845
[273.3106] 285.74042
[286.10254] 288.3204
[288.4081] 290.0025
[278.6065] 288.94962
[289.08463] 289.7721
[276.59885] 286.82025
[288.92136] 286.3896
[290.32776] 290.5148
[294.16876] 290.43542
[283.34158] 289.71045
[285.59387] 287.5521
[284.60345] 287.38373
[283.60187] 287.3347
[281.6671] 286.65405
[275.21542] 285.63916
[271.17538] 286.10876
[268.122] 288.6389
[274.5476] 293.60315
[279.9744] 292.4807
[282.4577] 289.245
[289.3707] 287.8579
[280.2753] 285.26834
[275.83542] 276.98956
[272.17822] 281.8783
[266.95355] 284.12256
[270.5669] 285.37222
[274.92987] 288.2996
[290.76953] 285.73083
[294.72726] 289.4275
[278.15378] 291.23816
[289.92715] 292.81042
[283.45963] 282.40543
[291.44803] 285.39835
[281.6617] 285.26767
[250.84126] 282.9797
[255.10356] 282.9685
[247.91504] 281.7143
[251.20189] 284.42053
[251.26813] 282.5366
[257.27625] 283.4179
[260.24478] 283.59406
[256.7171] 284.68787
[251.23561] 284.48767
[250.20605] 284.82837
[250.38034] 284.38245
[252.92574] 283.9893
[262.9475] 283.03308
[257.07083] 280.7367
[256.31656] 283.0057
[249.25055] 276.0989
[250.3857] 284.40128
[257.72214] 280.5086
[262.6831] 285.104
[273.77106] 291.4479
[285.7537] 286.4325
[283.8563] 290.40085
[284.22217] 293.8304
[289.32092] 290.65457
[287.11227] 280.27112
[290.70016] 286.20874
[282.74838] 284.27
[288.0084] 280.77832
[294.4329] 279.8425
[286.98264] 282.38916
[274.36606] 283.8175
[272.40204] 283.66583
[288.16928] 281.3604
[291.30304] 281.385
[287.4332] 282.36426
[275.84103] 281.94083
[288.78247] 282.59418
[281.91232] 280.55292
[279.04547] 281.38376
[279.66782] 281.0221
[277.7135] 281.24503
[279.83945] 277.80692
[276.45673] 283.92252
[272.81796] 281.28302
[274.853] 285.51947
[274.0177] 291.78915
[294.30313] 287.8696
[294.6539] 291.42175
[291.6285] 297.53625
[287.24084] 289.09668
[292.8507] 281.11426
[293.31387] 287.44208